{% extends 'base.html' %}
{% block content %}

<h1>{{product.name}}</h1>

<div class="info">
    <p><strong>First Name: </strong>{{ employee.first_name }}</p>
    <p><strong>Last Name: </strong>{{ employee.last_name }}</p>
    <p><strong>Phone Number: </strong>{{ employee.phone}}</p>
    <p><strong>Email: </strong>{{ employee.email }}</p>
    <p><strong>Role: </strong>{{ employee.role }}</p>

</div>

<div>
    <a href="{% url 'employee_edit' employee.pk %}" class="button_edit">EDIT</a>
    <a href="{% url 'employee_delete' employee.pk %}" class="button_delete">DELETE</a>
</div>

{% endblock %}