{% extends 'base.html' %}

{% block content %}

<h1>Deliveries List</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Supplier</th>
            <th>Document Type</th>
            <th>Delivery Time</th>
            <th>Total Amount</th>
            <th><a href="{% url 'delivery_add' %}" class="add-btn-table" title="New Sale">+</a></th>
        </tr>
    </thead>
    <tbody>
        {% for delivery in deliveries%}
        <tr>
            <td>{{ delivery.id }}</td>
            <td>{{ delivery.supplier }}</td>
            <td>{{ delivery.document_type }}</td>
            <td>{{ delivery.time_of_delivery|date:"d.m.Y H:i" }}</td>
            <td>{{ delivery.total_amount }}</td>
            <td><a href="{% url 'delivery_details' delivery.pk %}">View</a></td>
        </tr>
        <tr>
            {% empty %}
        </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}