{% extends 'base.html' %}
{% block content %}
<h1>Products List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Qty</th>
        <th>Delivery Price</th>
        <th>Selling Price</th>
        <th><a href="{% url 'product_create'%}" class="add-btn-table" title="Add a new product">+</a></th>
    </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.internal_code }}</td>
            <td>{{ product.name}}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }} </td>
            <td>{{ product.delivery_price}}</td>
            <td>{{ product.sell_price}}</td>
            <td><a href="{% url 'product_details' product.pk%}">View</a></td>
        </tr>
        <tr>
            {% empty %}
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}